:root {
	--randomYoutubeVideo-font-family: "Roboto", sans-serif;
	--randomYoutubeVideo-bg-color: #222;
	--randomYoutubeVideo-fg-color: #fff;
	--randomYoutubeVideo-grey-fg-color: #999;
	--randomYoutubeVideo-grey-bg-color: #333;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

/*
 * Generic utilities
 */
.grey-text {
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.hidden {
	display: none !important;
}

.displayInline {
	display: inline;
}

.textLeft {
	text-align: left;
}

.halfWidth {
	width: 50%;
	margin: auto;
}

.thirdWidth {
	width: 34%;
	margin: auto;
}

/* Disables various transitions */
.no-transitions * {
	transition: none !important;
}

.no-transitions *::before {
	transition: none !important;
}

/*
 * Main containers
 */
#randomYoutubeVideoHTML {
	color-scheme: dark;
	overflow-y: auto;
}

.randomYoutubeVideoPopupBody {
	width: 400px;
}

#randomYoutubeVideoBody {
	margin: 0px;
	font-size: 14px;
	font-family: var(--randomYoutubeVideo-font-family);
	background-color: var(--randomYoutubeVideo-bg-color);
	color: var(--randomYoutubeVideo-fg-color);
	color-scheme: dark;
}

#randomYoutubeVideo {
	text-align: center;
}

#randomYoutubeVideo p {
	margin-top: 2px;
	margin-bottom: 2px;
}

#randomYoutubeVideo h1 {
	margin-bottom: 8px;
}

#randomYoutubeVideo h2 {
	margin-top: 10px;
	margin-bottom: 8px;
}

#randomYoutubeVideo h3 {
	margin-top: 12px;
	margin-bottom: 4px;
}

/*
 * Options Row
 */
.optionsRow {
	margin: 0px;
	margin-top: 0px;
	border-radius: 8px;
	justify-content: space-evenly;
	overflow: hidden;
	display: flex;
}

.optionsRow-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: transparent;
	user-select: none;
	border: none;
	flex: 1;
	padding: 5px 5px;
}

/*
 * Buttons
 */
.randomYoutubeVideoButton {
	color: var(--randomYoutubeVideo-fg-color);
	font-family: var(--randomYoutubeVideo-font-family);
	text-decoration: none;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
	background-color: #333;
	padding: 4px 10px;
	font-weight: 500;
	margin: 2px 1px;
}

/* For the shuffle button, we want some more space around it */
.shuffleButton {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 15px
}

.randomYoutubeVideoButton:hover {
	background-color: #444 !important;
}

.randomYoutubeVideoButton:active {
	background-color: #555 !important;
}

.randomYoutubeVideoButton:disabled {
	background-color: #444 !important;
	cursor: default;
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.randomYoutubeVideoButton.highlight-green {
	background-color: #058101;
}

.randomYoutubeVideoButton.highlight-green:hover {
	background-color: #06b800 !important;
}

.randomYoutubeVideoButton.highlight-green:active {
	background-color: #07d400 !important;
}

/* 
 * Input 
 */
.optionTextInput input {
	color: var(--randomYoutubeVideo-fg-color);
	font-family: var(--randomYoutubeVideo-font-family);
	font-size: 14px;
	border: 2.5px solid transparent;
	border-radius: 3px;
	padding: 1.5px;
	background-color: #333;
	text-align: center;
	height: 18px;
	margin-bottom: 4px;
}

.optionTextInput input.numberInput {
	width: 40px;
	text-align: left;
	padding-left: 4px;
}

.optionTextInput input.numberInput.noArrows {
	width: 25px;
}

.optionTextInput input.dateInput {
	margin-top: 6px;
}

.optionTextInput input.youtubeIdInput {
	margin-top: 6px;
	width: 150px;
}

/* Remove the up and down arrows from the number input */
.optionTextInput input.numberInput.noArrows::-webkit-outer-spin-button,
.optionTextInput input.numberInput.noArrows::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.optionTextInput input:focus {
	outline: none;
}

.optionTextInput input:disabled {
	background-color: #444;
	cursor: default;
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.optionTextInput.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.optionTextInput input.invalid-input {
	border: 2.5px solid #c32e04 !important;
	animation: flash 0.5s infinite;
}

@keyframes flash {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

/* 
 * Dropdown menu
 */
select {
	background-color: #333;
	color: #fff;
	padding: 4px;
	border: none;
	font-size: 14px;
	border-radius: 3px;
	outline: none;
}

select option {
	background-color: #333;
	color: #fff;
}

select:hover {
	background-color: #444;
}

/*
 * Links
 */
 /* A link whose text is white and turns grey when hovered over */
.whiteGreyLink {
	color: var(--randomYoutubeVideo-fg-color);
	display: inline-block;
	text-decoration: none;
}

.whiteGreyLink:hover {
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.whiteGreyLink:active {
	color: var(--randomYoutubeVideo-grey-fg-color);
}

/*
 * Footer
 */
#randomYoutubeVideoFooter {
	padding: 8px 0;
}

#randomYoutubeVideoFooter .footerLink {
	color: var(--randomYoutubeVideo-fg-color);
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	background-color: #333;
	padding: 4px 10px;
	font-weight: 500;
	margin: 2px 1px;
}

#randomYoutubeVideoFooter .footerLink:hover {
	background-color: #444;
}

#randomYoutubeVideoFooter .footerLink:active {
	background-color: #555;
}