:root {
	--randomYoutubeVideo-font-family: "Roboto", sans-serif;
	--randomYoutubeVideo-bg-color: #222;
	--randomYoutubeVideo-fg-color: #fff;
	--randomYoutubeVideo-grey-fg-color: #999;
	--randomYoutubeVideo-grey-bg-color: #333;

	/* Firefox */
	scrollbar-width: thin;
	scrollbar-color: #666 #555;
	overflow-x: hidden;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

/*
 * Generic utilities
 */
.grey-text {
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.hidden {
	display: none !important;
}

.slideOutContainer {
	transition: height 0.9s ease-in-out;
	overflow: hidden;
}

.slideOutContainer.active {
	height: auto;
}

.slideOutContainer:not(.active) {
	display: none;
}

.displayInline {
	display: inline;
}

.textLeft {
	text-align: left;
}

.halfWidth {
	width: calc(max(600px, 50%));
	margin: auto;
}

.thirdWidth {
	width: calc(max(400px, 34%));
	margin: auto;
}

.no-transitions * {
	transition: none !important;
}

.no-transitions *::before {
	transition: none !important;
}

/*
 * Main containers
 */
#randomYoutubeVideoHTML {
	color-scheme: dark;
	overflow-y: auto;
}

.randomYoutubeVideoPopupBody {
	width: 400px;
	margin: 0px auto;
}

#randomYoutubeVideoBody {
	font-size: 14px;
	font-family: var(--randomYoutubeVideo-font-family);
	background-color: var(--randomYoutubeVideo-bg-color);
	color: var(--randomYoutubeVideo-fg-color);
	color-scheme: dark;
}

#randomYoutubeVideo {
	text-align: center;
}

#randomYoutubeVideo p {
	margin-top: 2px;
	margin-bottom: 2px;
}

#randomYoutubeVideo h1 {
	margin-bottom: 8px;
}

#randomYoutubeVideo h2 {
	margin-top: 10px;
	margin-bottom: 8px;
}

#randomYoutubeVideo h3 {
	margin-top: 12px;
	margin-bottom: 4px;
}

.overlayDiv {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlayDiv div {
	background-color: var(--randomYoutubeVideo-bg-color);
	color: var(--randomYoutubeVideo-fg-color);
	padding: 15px;
	border-radius: 5px;
	margin: 0px 20px;
}

/*
 * Options Row
 */
.optionsRow {
	margin: 0px;
	margin-top: 0px;
	border-radius: 8px;
	justify-content: space-evenly;
	overflow: hidden;
	display: flex;
}

.optionsRow-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: transparent;
	user-select: none;
	border: none;
	flex: 1;
	padding: 5px 5px;
}

/*
 * Buttons
 */
.randomYoutubeVideoButton {
	color: var(--randomYoutubeVideo-fg-color);
	font-family: var(--randomYoutubeVideo-font-family);
	text-decoration: none;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
	background-color: #333;
	padding: 4px 10px;
	font-weight: 500;
	margin: 2px 1px;
}

.shuffleButton {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 15px;
}

.importantButton {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 6px;
}

.randomYoutubeVideoButton:hover {
	background-color: #444 !important;
}

.randomYoutubeVideoButton:active {
	background-color: #555 !important;
}

.randomYoutubeVideoButton:disabled {
	background-color: #444 !important;
	cursor: default;
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.randomYoutubeVideoButton.highlight-green {
	background-color: #058101;
}

.randomYoutubeVideoButton.highlight-green:hover {
	background-color: #06b800 !important;
}

.randomYoutubeVideoButton.highlight-green:active {
	background-color: #07d400 !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.randomYoutubeVideoButton.highlight-green-animated {
	background: linear-gradient(45deg, #058101, #079c02, #09ff00);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes fillup {
	0% {
		background-size: 0% 100%;
	}
	100% {
		background-size: 100% 100%;
	}
}

/* The timing of the animation is synced up with other timers associated with the buttons */
.randomYoutubeVideoButton.buttonFillUp {
	background: linear-gradient(to right, #333, #333);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	animation: fillup 10s forwards;
}

/* 
 * Input 
 */
.optionTextInput input {
	color: var(--randomYoutubeVideo-fg-color);
	font-family: var(--randomYoutubeVideo-font-family);
	font-size: 14px;
	border: 2.5px solid transparent;
	border-radius: 3px;
	padding: 1.5px;
	background-color: #333;
	text-align: center;
	height: 18px;
	margin-bottom: 4px;
}

.optionTextInput input::placeholder {
	color: #ddd;
}

.optionTextInput input.numberInput {
	width: 40px;
	text-align: left;
	padding-left: 4px;
}

.optionTextInput input.numberInput.noArrows {
	width: 25px;
}

.optionTextInput input.dateInput {
	margin-top: 6px;
}

.optionTextInput input.youtubeIdInput {
	margin-top: 6px;
	width: 150px;
}

/* Remove the up and down arrows from the number input */
.optionTextInput input.numberInput.noArrows::-webkit-outer-spin-button,
.optionTextInput input.numberInput.noArrows::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Remove the up and down arrows from the number input for firefox */
.optionTextInput input.numberInput.noArrows[type="number"] {
	appearance: none;
	-moz-appearance: textfield;
}

.optionTextInput input:focus {
	outline: none;
}

.optionTextInput input:disabled {
	background-color: #444;
	cursor: default;
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.optionTextInput.disabled {
	opacity: 0.5;
	pointer-events: none;
}

input.invalid-input {
	border: 2.5px solid #c32e04 !important;
	animation: flash 0.5s infinite;
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/* 
 * Dropdown menu
 */
select {
	background-color: #333;
	color: #fff;
	padding: 4px;
	border: none;
	font-size: 14px;
	border-radius: 3px;
	outline: none;
}

select option {
	background-color: #333;
	color: #fff;
}

select:hover {
	background-color: #444;
}

/*
 * Links
 */
.whiteLink {
	color: var(--randomYoutubeVideo-fg-color);
	display: inline-block;
	text-decoration: none;
}

/* A link whose text is white and turns grey when hovered over */
.whiteGreyLink {
	color: var(--randomYoutubeVideo-fg-color);
	display: inline-block;
	text-decoration: none;
}

.whiteGreyLink:hover {
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.whiteGreyLink:active {
	color: var(--randomYoutubeVideo-grey-fg-color);
}

/* A link that looks like a button */
.buttonLink {
	color: var(--randomYoutubeVideo-fg-color);
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	background-color: #333;
	padding: 4px 10px;
	font-weight: 500;
	margin: 2px 1px;
}

.buttonLink:hover {
	background-color: #444;
}

.buttonLink:active {
	background-color: #555;
}

/*
 * Footer
 */
#randomYoutubeVideoFooter {
	padding: 8px 0;
}
