:root {
	--randomYoutubeVideo-font-family: "Roboto", sans-serif;
	--randomYoutubeVideo-bg-color: #222;
	--randomYoutubeVideo-fg-color: #fff;
	--randomYoutubeVideo-grey-fg-color: #999;
	--randomYoutubeVideo-grey-bg-color: #333;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 4px;
}

/*
 * Generic utilities
 */
.grey-text {
	color: var(--randomYoutubeVideo-grey-fg-color);
}

.hidden {
	display: none !important;
}

.displayInline {
	display: inline;
}

/*
 * Main containers
 */
#randomYoutubeVideoPopupHTML {
	color-scheme: dark;
	max-height: 600px;
	overflow-y: auto;
}

#randomYoutubeVideoPopupBody {
	margin: 0px;
	width: 400px;
	max-width: 100%;
	/* NOTE: Ensures content doesn't exceed restricted popup widths in Firefox */
	font-size: 14px;
	font-family: var(--randomYoutubeVideo-font-family);
	background-color: var(--randomYoutubeVideo-bg-color);
	color: var(--randomYoutubeVideo-fg-color);
	color-scheme: dark;
}

#randomYoutubeVideoPopup {
	text-align: center;
}

#randomYoutubeVideoPopup p {
	margin-top: 2px;
	margin-bottom: 2px;
}

#randomYoutubeVideoPopup h1 {
	margin-bottom: 8px;
}

#randomYoutubeVideoPopup h2 {
	margin-top: 10px;
	margin-bottom: 8px;
}

#randomYoutubeVideoPopup h3 {
	margin-top: 12px;
	margin-bottom: 4px;
}

body {
	margin: 2px;
	width: 400px;
	max-width: 100%;
	/* NOTE: Ensures content doesn't exceed restricted popup widths in Firefox */
	font-size: 14px;
	font-family: var(--randomYoutubeVideo-font-family);
	background-color: var(--randomYoutubeVideo-bg-color);
	color: var(--randomYoutubeVideo-fg-color);
	color-scheme: dark;
}

html {
	display: table;
	margin: auto;
}

/*
 * Options Row
 */
.optionsRow {
	margin: 0px;
	margin-top: 0px;
	border-radius: 8px;
	justify-content: space-evenly;
	overflow: hidden;
	display: flex;
}

.optionsRow-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: transparent;
	user-select: none;
	border: none;
	flex: 1;
	padding: 5px 5px;
}

/*
 * Buttons
 */
.randomYoutubeVideoButton {
	color: var(--randomYoutubeVideo-fg-color);
	font-family: var(--randomYoutubeVideo-font-family);
	text-decoration: none;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
	background-color: #333;
	padding: 4px 10px;
	font-weight: 500;
	margin: 2px 1px;
}

/* For the shuffle button, we want some more space around it */
.shuffleButton {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 15px
}

.randomYoutubeVideoButton:hover {
	background-color: #444;
}

.randomYoutubeVideoButton:active {
	background-color: #555;
}

.randomYoutubeVideoButton:disabled {
	background-color: #444;
	cursor: default;
	color: var(--randomYoutubeVideo-grey-fg-color);
}

/* 
 * Input 
 */
.optionTextInput input {
	color: var(--randomYoutubeVideo-fg-color);
	font-family: var(--randomYoutubeVideo-font-family);
	font-size: 14px;
	border: none;
	border-radius: 3px;
	padding: 4px;
	background-color: #333;
	text-align: center;
	height: 17.5px;
	margin-top: 6px;
	margin-bottom: 4px;
}

.optionTextInput input.numberInput {
	width: 25px;
}

.optionTextInput input.youtubeIdInput {
	width: 150px;
}

/* Remove the up and down arrows from the number input */
.optionTextInput input.numberInput::-webkit-outer-spin-button,
.optionTextInput input.numberInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.optionTextInput input:focus {
	outline: none;
}

.optionTextInput input:disabled {
	background-color: #444;
	cursor: default;
	color: var(--randomYoutubeVideo-grey-fg-color);
}

/* 
 * Dropdown menu
 */
select {
	background-color: #333;
	color: #fff;
	padding: 4px;
	border: none;
	font-size: 14px;
	border-radius: 3px;
	outline: none;
}

select option {
	background-color: #333;
	color: #fff;
}

select:hover {
	background-color: #444;
}

/*
 * Footer
 */
#randomYoutubeVideoFooter {
	padding: 8px 0;
}

.randomYoutubeVideoLink {
	color: var(--randomYoutubeVideo-fg-color);
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	background-color: #333;
	padding: 4px 10px;
	font-weight: 500;
	margin: 2px 1px;
}

.randomYoutubeVideoLink:hover {
	background-color: #444;
}